
/******************* Tag Selectors *******************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  width: 40%;
  font-family: 'Sacramento', cursive;
  font-size: 5.16rem;
  margin: 0 auto;
  margin-top: 150px;
  /* color: #66bfbf; */
  color: rgb(118, 69, 217);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  /* color: #66bfbf; */
  color: rgb(40, 13, 95);
  padding: 20px 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  /* color: #11999e; */
  color: rgb(118, 69, 217);
  font-weight: bold;
  font-size: 1.5rem;
  overflow: auto;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

hr {
  border: none;
  border-style: none;
  border-top-style: dotted;
  border-color: #B2B1B9;
  border-width: 13px;
  height: 0;
  width: 8%;
  margin-top: 100px;
  margin-bottom: 100px;
}

p {
  width: 50%;
  margin: auto;
  font-size: 1.25rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: rgb(40, 13, 95);
  font-family: 'Montserrat', sans-serif;
  margin: auto 10px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

/**************** Class Selectors *******************/

.top-container {
  /* background-color: #e4f9f5; */
  background-color: rgb(238 234 244);
  padding-top: 170px;
}

.middle-container {
  background: linear-gradient(rgb(255, 255, 255) 22%, rgb(215, 202, 236) 100%);
}

.bottom-container {
  padding: 20px 0 10px;
  background-color: rgb(121 74 217);
}

.pro {
  text-decoration: underline;
}

.programmer-title {
  font-size: 2em;
}

.top-pancake {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 10rem;
}

.top-middle-pancake {
  position: absolute;
  width: 13rem;
  left: 50px;
}

.bottom-middle-pancake {
  position: absolute;
  right: 50px;
  width: 8rem;
}

.bottom-pancake {
  position: absolute;
  top: 700px;
  left: 200px;
  width: 7rem;
}

.profilephoto {
  padding-top: 50px;
  width: 15%;
}

.web-coding-icon {
  max-width: 10%;
  padding-top: 20px;
}

.cat-smash-keyboard {
  border-radius: 50%;
  width: 10rem;
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.programming-languages {
  text-decoration: underline;
  font-weight: bold;
}

.footer-link {
  padding-left: 10px;
  padding-right: 10px;
}

.skill-row-1 {
  color: black;
  margin: 50px auto;
  width: 50%;
  text-align: left;
  overflow: hidden;
}

.skill-row-2 {
  color: black;
  max-width: 50%;
  margin: 0 auto;
}

.a-programmer-title {
  font-weight: normal;
}

.pancakeking {
  padding-top: 20px;
  padding-bottom: 35px;
  width: 20%;
}

.btn {
  background: #913DF6;
  background-image: -webkit-linear-gradient(top, #913DF6, #1E62D0);
  background-image: -moz-linear-gradient(top, #913DF6, #1E62D0);
  background-image: -ms-linear-gradient(top, #913DF6, #1E62D0);
  background-image: -o-linear-gradient(top, #913DF6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #913DF6, #1E62D0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 22px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #FFFFFF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.btn:hover {
  background: #FFA0A0;
  border: solid #FFA0A0 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 30px 0;
}

.pcs {
  margin-bottom: 10px;
}
